﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <form action="/User/SignUp" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>
            <div class="form-group">
                <span>UserId</span>
                <input type="text" class="form-control" id="UserId" name="UserId" placeholder="UserId">
            </div>

            <div class="form-group">
                <span>EmailId</span>
                <input type="text" class="form-control" id="EmailId" name="EmailId" placeholder="EamilId">
            </div>



            <div class="form-group">
                <span>Passcode</span>
                <input type="text" class="form-control" id="Passcode" name="Passcode" placeholder="Passcode">
            </div>
            <div class="form-group">
                <span>First Name</span>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" >
            </div>
            <div class="form-group">
                <span>Last Name</span>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
            </div>

            <div class="form-group">
                <span>Tenth Marks</span>
                <input type="text" class="form-control" id="TenthMarks" name="TenthMarks" placeholder="Tenth Marks">
            </div>
            <div class="form-group">
                <span>Twelveth Marks</span>
                <input type="text" class="form-control" id="TwelvethMarks" name="Twelveth Marks" placeholder="Twelveth Marks">
            </div>
            <div class="form-group">
                <span>Diploma Marks</span>
                <input type="text" class="form-control" id="DiplomaMarks" name="DiplomaMarks" placeholder="Diploma Marks">
            </div>
            <div class="form-group">
                <span>Degree Marks</span>
                <input type="text" class="form-control" id="Degreemarks" name="Degreemarks" placeholder="Degree Marks">
            </div>
            <div class="form-group">
            <span>Current or Last Job Responsibility</span>
            <input type="text" class="form-control" id="Responsibilty" name="Responsibility">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>

</body>
</html>
